// Листья
.right-leave {
   animation: leaves-bounce 6s ease-in-out infinite alternate;
}

.stroke-leave {
   animation: leave-appear 6s ease-in-out infinite alternate;
}

// Звездочки
.star1 {
   transform-box: fill-box;
   animation: star-move 5s ease-in infinite alternate;
}

.star2 {
   transform-box: fill-box;
   animation: star-move 5s 1.5s ease-in infinite alternate;
}

// Мужчина
.hand-finger {
   animation: hand-finger-move 3s ease-in infinite alternate;
}

.eyes {
   animation: eyes-clip 3s ease-in-out infinite alternate;
   transform-origin: 50% 50%;
}

.brows {
   animation: brows-move 3s ease-in-out infinite alternate;
   transform-origin: 50% 50%;
}

// Девочка с камерой
.camera-hands,
.camera-girl-shoulder {
   animation: camera-move 3s ease-in infinite alternate;
}

.camera-girl-body {
   animation: girl-body-move 3s ease-in infinite alternate;
}

.camera-disc {
   @include svg-anim-declar(camera-disc-rotate, 5s, linear);
}

// Певица
.singer-hand-microphone {
   @include svg-anim-declar(singer-hand-move, 6s);
}
.singer-head {
   @include svg-anim-declar(singer-head-move, 6s);
}

@keyframes leaves-bounce {
   0% {
      transform: translate(-5px, 0px) rotate(-2deg);
   }
   50% {
      transform: translate(0px, 0px) rotate(0deg);
   }

   100% {
      transform: translate(0px, 0px) rotate(0deg);
   }
}

@keyframes leave-appear {
   0% {
      transform: translateY(0px) rotate(0deg);

      opacity: 0;
   }
   50% {
      transform: translateY(-5px) rotate(-2deg);
      opacity: 1;
   }

   100% {
      transform: translateY(-5px) rotate(-2deg);
      opacity: 1;
   }
}

@keyframes star-move {
   0% {
      transform: scale(1, 1);
   }
   20% {
      transform: scale(0.8, 0.8);
   }
   40% {
      transform: scale(1.2, 1.2);
   }
   60% {
      transform: scale(0.8, 0.8);
   }
   100% {
      transform: scale(1.2, 1.2);
   }
}

// Мужчина
@keyframes hand-finger-move {
   0% {
      transform: rotate(0) translateY(0);
   }
   50% {
      transform: rotate(-1deg) translateY(-1.5px);
   }

   100% {
      transform: rotate(0) translateY(0);
   }
}

@keyframes eyes-clip {
   0% {
      transform: translate(0, 0);
   }
   50% {
      transform: translate(3px, -3px);
   }

   100% {
      transform: translate(0, 0);
   }
}

@keyframes brows-move {
   0% {
      transform: translate(0, 0) rotate(0);
   }
   50% {
      transform: translate(3px, -3px) rotate(-2deg);
   }

   100% {
      transform: translate(0, 0) rotate(0);
   }
}

// Девочка с камерой
@keyframes camera-move {
   0% {
      transform: rotate(0) translateX(0);
   }
   50% {
      transform: rotate(1deg) translateX(-1px);
   }

   100% {
      transform: rotate(0) translateX(0);
   }
}

@keyframes girl-body-move {
   0% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(-2px);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes camera-disc-rotate {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

// Певица
@keyframes singer-head-move {
   0% {
      transform: translate(0px, 0px) rotate(0);
   }

   100% {
      transform: translate(70px, -60px) rotate(50deg);
   }
}

@keyframes singer-hand-move {
   0% {
      transform: translate(0px, 0px) rotate(0);
   }

   100% {
      transform: translate(60px, 50px) rotate(50deg);
   }
}
