.ebook {
   margin-bottom: 120px;

   @media (max-width: 780px) {
      margin-bottom: 60px;
   }
}
.ebook__content {
   margin: 0 100px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;

   @media (max-width: 1030px) {
      column-gap: 20px;
      margin: 0;
   }

   @media (max-width: 580px) {
      row-gap: 20px;
      grid-template-columns: 1fr;
      justify-items: center;
      text-align: center;
   }
}
.ebook__content-img {
   position: relative;

   &::after {
      display: block;
      content: "";
      padding-bottom: 86%;
   }
   @media (max-width: 580px) {
      width: 80%;
   }
}
.ebook__img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: scale-down;
}

.ebook__text {
   max-width: 395px;
}
.ebook__title {
   @include title-styles;
   margin-bottom: 27px;

   @media (max-width: 1000px) {
      font-size: 40px;
      line-height: 45px;
   }

   @media (max-width: 780px) {
      font-size: 30px;
      line-height: 35px;
   }
   @media (max-width: 580px) {
      margin-bottom: 15px;
   }
}
.ebook__subtitle {
   font-size: 18px;
   line-height: 27px;
   margin-bottom: 20px;

   @media (max-width: 780px) {
      font-size: 16px;
   }
}
.ebook__download-link {
   display: inline-block;
   @include btn-styles;

   &:hover {
      @include btn-hover;
   }
}
